
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>
	
	
	<div class="content">
		<div class="wrap">
			<div class="about">
				<h3>About</h3>
				<img src="images/about_banner.jpg" alt="" />
                <p>
                    A WARM HOME is a social responsibility project that makes people have a shelter,a home.In this site you can contact us to have a place for you or your family.Sign in and let us know what you need.In Toronto,there is always a home for people who need it.
					<br /><br />
                    Our system macthes people to shelters in Toronto.To able to do that,you must fill a form and let us get to know you.After we know you and what you need,the matching process will begin.Our officers will find you a shelter and send you the results.When you get a positive result,you can move to the shelter you macthed.If you have any questions,you can contact us from the contact page or send us a ticket in this site.If you are a donater please visit our donation page and make a donate request and we will contact you.
					<br /><br />
                    We are happy to welcome our guests and make them have a home.Reach us and “A WARM HOME” will host you gladly.
                </p>
			</div>
		</div>
	</div>
	
</body>
</html>
